#test {font-style: italic; color: darkviolet;}

p {color: blue;}

.vip {color:darkgreen;}

.supervip {color: aquamarine;}

ul.A {color:blueviolet ;}

ul.B {color:hotpink ;}

h1{color: chocolate; text-align: center;}